    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        font-family: 'Josefin Sans', sans-serif;
        scroll-behavior: smooth;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(350, 350, 350, 0.8);
        position: sticky;
        top: 0;
        z-index: 5;
    }
    
    #logo {
        display: flex;
        gap: 0.5rem;
        margin: 1.5rem 3rem;
        align-items: center;
    }
    
    #logo img {
        width: 2.5rem;
        height: 2.5rem;
    }
    
    header ul {
        display: flex;
        align-items: center;
        margin-right: 1.2rem;
        gap: 1rem;
        list-style: none;
        font-weight: 800;
        flex-wrap: wrap;
    }
    
    header ul li a {
        text-decoration: none;
        color: black;
        padding: 0.5rem 0.7rem;
        border-radius: 4px;
        transition: 0.2s;
    }
    
    header li:hover a {
        background-color: #ff6666;
        color: #fff;
        transform: scale(1.1);
    }
    
    #linkBtn {
        color: white;
        background-color: #ff6666;
        padding: 1rem;
        border-radius: 1rem;
    }
    
    header li:hover #linkBtn {
        background-color: #fff;
        color: #ff6666;
    }
    
    .partOne {
        background-image: url(bg-1.jpg);
        height: 95vh;
        width: 100%;
        background-size: 100%;
        padding-top: 7%;
    }
    
    .partOne,
    .common {
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    #oneCntnt {
        margin: 17% 20%;
        width: 35%;
    }
    
    #oneCntnt h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    
    #oneCntnt p {
        font-size: 1.2rem;
        line-height: 1.1rem;
    }
    
    #oneCntnt button {
        color: #ff6666;
        border: 1.5px solid #ff6666;
        padding: 0.8rem;
        border-radius: 0.3rem;
        margin: 1rem 0.5rem;
        background-color: transparent;
        backdrop-filter: blur(5px);
    }
    
    #oneCntnt button:hover {
        background-color: #ff6666;
        color: aliceblue;
    }
    
    .plainText {
        margin: 8rem 25rem;
        width: 53%;
    }
    
    .plainText h2 {
        padding: 2rem 0;
        font-size: 2rem;
    }
    
    .plainText p {
        font-size: 1.2rem;
        margin: 1rem 0;
    }
    
    .partTwo {
        background-image: url(bg-2.jpg);
    }
    
    #scrollTwo {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .common {
        width: 100%;
        height: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .common h2 {
        font-size: 1.7rem;
    }
    
    #grids {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
    }
    
    #grids div {
        width: 40rem;
        height: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        border-radius: 5px;
        padding: 1rem;
        gap: 0.5rem;
    }
    
    #grids div:hover {
        background-color: #ff6666;
        color: #fff;
    }
    
    .common p {
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }
    
    #textTwo {
        border-left: 2px solid #ff6666;
        padding: 3rem;
    }
    
    #block {
        background-color: #ff6666;
        padding: 3rem;
        color: #fff;
        border-radius: 5px;
    }
    
    #block button {
        margin: 2.5rem 0 1rem 0;
        padding: 0.7rem 1rem;
        border-radius: 4px;
        border: 0;
        color: darkslategray;
        font-weight: 500;
        transition: 0.5s ease-in-out;
    }
    
    #block button span {
        display: none;
    }
    
    #block button:hover {
        transform: scale(1.1);
    }
    
    #block button:hover span {
        display: inline;
    }
    
    .plainText h1 {
        text-align: center;
        padding: 1.5rem;
        font-size: 2.5rem;
    }
    
    .qna {
        margin-bottom: 1.5rem;
    }
    
    .qna strong {
        font-size: 1.5rem;
    }
    
    .qna button {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: transparent;
        border: none;
        align-items: center;
        text-decoration: none;
        color: #000;
        cursor: pointer;
    }
    
    .qna p {
        display: none;
        color: rgb(109, 108, 108);
    }
    
    hr {
        margin: 0.5rem;
        height: 3px;
        background-color: darkgrey;
        border: 0;
    }
    
    #proj {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 1rem;
        border-radius: 4px;
        padding: 2rem;
    }
    
    #proj:hover {
        color: #fff;
        background-color: #ff6666;
    }
    
    .partThree {
        background-image: url(bg-1.jpg);
    }
    
    .common img {
        width: 100%;
    }
    
    .scrollCntnt {
        margin: 0 0.5rem 0 7rem;
        width: 33rem;
    }
    
    .partFour {
        background-image: url(bg-3.jpg);
    }
    
    .partFive {
        background-image: url(bg-4.jpg);
    }
    
    #fourPart {
        margin: 0 8rem 0 1rem;
    }
    
    .plainText ol {
        margin: 1rem 0;
        list-style: none;
        counter-reset: steps;
    }
    
    .plainText ol li {
        margin: 2rem 0;
        line-height: 1.3rem;
        counter-increment: steps;
    }
    
    .plainText ol li p a {
        text-decoration: none;
        color: #ff6666;
    }
    
    #lstText ol li::before {
        content: counter(steps);
        margin: 0 1rem 0 -4.2rem;
        background: rgba(350, 350, 350, 1);
        color: black;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 2px solid rgb(221, 208, 208);
        display: inline-grid;
        place-items: center;
        line-height: 1.2em;
    }
    
    #lstText ol li strong::before {
        content: '';
        position: absolute;
        border-left: 1px solid rgb(221, 208, 208);
        top: 40%;
        left: -4.6%;
        bottom: 0;
        z-index: -1;
        height: 100%
    }
    
    #lstText ol li:hover::before {
        background-color: #ff6666;
        color: #fff;
    }
    
    .form {
        flex-direction: column;
        background-image: url(bg-2.jpg);
        height: 28rem;
        justify-content: center;
        color: #fff;
    }
    
    .form form {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        gap: 1rem;
    }
    
    .row {
        display: flex;
        gap: 1rem;
    }
    
    .form input {
        flex: 0 0 50%;
        height: 3rem;
        padding-left: 4px;
        padding-bottom: 7px;
        border-radius: 4px;
        border: none;
    }
    
    #question {
        width: 41rem;
        height: 4rem;
        padding-bottom: 1.5rem;
        flex: 0 0 102.5%;
    }
    
    #subBtn {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .form button {
        padding: 0.9rem 1.9rem;
        font-size: 1.2rem;
        border: none;
        border-radius: 4px;
        background-color: #ff6666;
        color: #fff;
        transition: 0.3s;
    }
    
    .form button:hover {
        background-color: #fff;
        color: #ff6666;
        transform: scale(1.1);
    }
    
    #footer {
        margin-top: 1.5rem;
    }
    
    #footer p {
        padding: 0.2rem;
    }
    
    #upPart {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 3rem;
    }
    
    #upPart ul {
        list-style: none;
        display: flex;
        margin-top: 1.7rem;
        gap: 1rem;
    }
    
    #upPart li {
        padding: 0.2rem;
        transition: 0.2s;
    }
    
    #upPart a {
        text-decoration: none;
        color: #ff6666;
    }
    
    #upPart li:hover {
        transform: scale(1.1);
    }